<div class="row">
  	<div class="col-md-8">
		<div class="jumbotron">
		  <h1>inquiry</h1>
		  <p5>-Citizen Kane</p5>
		  <p><%= link_to "Register Now!", new_user_path, class:'btn btn-primary btn-lg' %></p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
  			<div class="panel-heading">Log In!</div>
  			<div class="panel-body">
				<%= form_for(:credentials, url: signin_path) do |f| %>
				  	<div class="form-group">
						<%= f.label :email%>
						<%= f.email_field :email, class: 'form-control'%>
					</div>
						<div class="form-group">
						<%= f.label :password%>
						<%= f.password_field :password, class: 'form-control'%>
					</div>
					<%= f.submit 'Log In' %>
				<% end %>
			</div>
		</div>
	</div>
</div>

